<div class="container-fluid content banner">
  <div class="row ">
    <div class="col-md-6 offset-md-3 ">
      <div class="card card-outline-secondary form " style="margin-top:120px;" >
        <div class="card-header">
          <h3 class="mb-0 text-center text-white">Great Movies</h3>
        </div>
        <div class="card-body ">
          <form action="" >
            <div class="form-group">
              <label for="nombre" class="text-white">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar pelicula"#nombre>
            </div>
            <div class="form-group">
              <label for="Imagen url" class="text-white">Imagen url</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url"#url>
            </div>
            <button type="submit" class="btn btn-block btn-form text-white"(click)="guardar(nombre.value,url.value)">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container" >
  <div class="row">
      <app-pelicula *ngFor="let p of peliculas" [peli]="p"></app-pelicula>
  </div>
</section>



