@import '~bootstrap/dist/css/bootstrap.css';
* {

  box-sizing: border-box;
}
img{
height: 250px;
width: 100%;
}
.span{
  top: 5%;
  left: 0;
  background: orange;
  padding: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 100;
}
.titulo{
  font-size: 12px;
  /* margin:0;
  padding:10px 5px;
  line-height: 0; */
}
.form{
background: rgba(128,128,128, 0.6);
}
.btn-form{
background: orange;
}





