<div class="card text-center position-relative" >
  <span class="position-absolute text-white span ">
    <h5 class=" titulo ">{{peli.nombre}}</h5>
  </span>
  <img src="assets/img6.jpg" alt="" class="card img-top">
  <div class="card-body bg-secondary text-white">
    <h5 class="card-title">{{peli.nombre}}</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloribus dolores error dolor explicabo.
      Molestias sequi fugit doloribus nulla doloremque?</p>
  </div>
</div>
